.footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
}


footer{
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}
