<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" >CompanyName</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active" *ngIf="cargando">
        <a class="nav-link">Home</a>
      </li>
      <li class="nav-item" *ngIf="cargando">
        <a class="nav-link">Sales</a>
      </li>
      <li class="nav-item" *ngIf="cargando">
        <a class="nav-link">Administration</a>
      </li>
      <li class="nav-item dropdown" *ngIf="cargando" >
        <a name="reports" class="nav-link dropdown-toggle"  id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Reports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a name="reportoperation" class="dropdown-item" routerLink="/reports">Report Operations</a>
          <a name="reportpokemon" class="dropdown-item" routerLink="/pokemon">Report pokemons</a>
          <a class="dropdown-item" >Report other</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div *ngIf="cargando">
        <span class="navbar-text mr-sm-2" *ngFor="let usu of usuario">Usuario: {{usu.username}}</span>
      </div>
      <button name="logout" class="btn btn-outline-success my-2 my-sm-0" *ngIf="cargando"  (click)="logout()" type="submit">Logout</button>
    </form>
  </div>
</nav>
