/*--------------------
	Main Content
--------------------*/

.main-content{
	color: #525252;
	padding: 60px 50px;
}

.card {
	max-width: 880px;
	margin: 0 auto;
	background-color: #fff;
	height: 100%;
	padding: 60px 90px;
	text-align: center;
}

.card h1{
	margin-bottom: 25px;
	font-size: 28px;
}

.card h3{
	font-weight: normal;
	color: #999;
	font-size: 16px;
	max-width: 600px;
	line-height: 1.6;
	margin: 0 auto 35px;
}

.card p{
	text-align: left;
	margin: 20px 0 40px;
	line-height: 1.5;
}

.card #add-content{
	display: inline-block;
    padding: 15px 60px;
    background: #E91E63;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
}

.card .dummy-content p,
.card .dummy-content img{
	display: none;
}

.card img{
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
