<head>
  <title>Lista de Pokemones</title>
  <meta name="Description" content="Author: AxaColpatria,
    ListPokemons">
</head>
<h2>Pokemones</h2>
<div class="alter alert-info text-center" role="alter" *ngIf="loading">
  <h4 class="alter-heading">Cargando</h4>
  <p>
    <span class="fa fa-sync fa-spin fa-2x"></span>
  </p>
  <p class="mb-0"></p>
</div>

<div class="alter alert-danger text-center" role="alter" *ngIf="error">
  <h4 class="alter-heading">Error</h4>
  <pre> {{ error | json}}</pre>
  <p class="mb-0"></p>
</div>

<div class='container-fluid content mt-5' *ngIf="!loading">
  <div class="row mr-md-4">
    <div class="col-md-6">
      <ul class="list-group mt-3">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let pokemon of pokemones">{{pokemon.name}}
          <button name={{pokemon.name}} class="btn btn-dark btn-sm float-right" (click)="detallePokemon(pokemon.url)">
            Info
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <app-detail-pokemon></app-detail-pokemon>
    </div>
  </div>
</div>
